h1{
    font-family: 'Cinzel Decorative',cursive;
    text-align: center;
    padding-top: 20px;
    color: blue;
}

.landingPageText{
    font-family: 'Charm',cursive;
    font-family: 'Josefin Sans',sans-serif;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.profileText{
    font-family: 'Josefin Sans',sans-serif;
}

body{
    background-color: rgb(255, 255, 255);
}

.container{
    background-color: rgb(235, 235, 235);
}

#question{
    color: brown;
}

#indent{
    padding-left: 50px;
}

#indentLink{
  padding-left: 50px;
}

#indentLink a:hover{
    color: red;
}

footer{
    background-color: rgb(51, 53, 53);
    color: white;
    font-size: 25px;
}